.idea
**/logs
*.pid
*.jar
*.iml
**/target
**/temp/**

.settings
.classpath
.project
*.*~
*.log
log.lck
log/
log.*
server/plugin.json
server/plugin.txt
.attach_pid*
*.lck
!.mvn/wrapper/maven-wrapper.jar
release.properties
pom.xml.releaseBackup
**/.DS_Store
plugin-core.bgv
plugin-core-Darwin-arm64.bin